table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto; 
  }
  
  .completed{
    text-align: center;
  }
  
  th, td {
    padding: 20px;
  }